{{#if userName}}
{{!-- Success log in message --}}
<div style="margin: 30vh auto; max-width: 30rem;">
  <h2>Welcome back, {{userName}}!</h2>
</div>

{{else}}

<div style="margin: 20vh auto; max-width: 20rem;">
  <h1 class="mb-3 text-center">Account Login</h1>
  <form action="/login" method="POST">
    <div class="mb-3">
      {{!-- Leave error input of email if log in failed --}}
      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
        value="{{#if email}}{{email}}{{/if}}">
      {{!-- Show error message--}}
      {{#if errEmail}}<h6 style="color: #FF0000;">{{errEmail}}</h6>{{/if}}
    </div>
    <div class="mb-3">
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
      {{!-- Show error message--}}
      {{#if errPassword}}<h6 style="color: #FF0000;">{{errPassword}}</h6>{{/if}}
    </div>
    <div class="d-grid gap-1 col-4 mx-auto">
      <button type="submit" class="btn btn-outline-dark mt-3 px-4 mx-auto">Log in</button>
    </div>

  </form>
</div>

{{/if}}
